@model EMS.Web.Models.SearchModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Employees</h3>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-lg-3">
        <fieldset>
            <h5>Filter employees by:</h5>
            <div>
                <label class="test">Department</label>
                <select class="test" id="department">
                    <option selected value="">Choose department ...</option>
                    @foreach (var department in Model.Departments)
                    {
                        <option value="@department.Description">@department.Description</option>
                    }
                </select>
            </div>
            <div>
                <label class="test">Line Manager</label>
                <select class="test" id="manager">
                    <option selected value="">Choose Manager ...</option>
                    @foreach (var manager in Model.Managers)
                    {
                        <option value="@manager.EmployeeName">@manager.EmployeeName</option>
                    }
                </select>
            </div>

            <div>
                <label>Title</label>
                <select id="title">
                    <option selected value="">Choose job title ...</option>
                    @foreach (var title in Model.Titles)
                    {
                        <option value="@title">@title</option>
                    }
                </select>
            </div>
            <div>
                <label>Name</label>
                <input type="text" id="name" />
            </div>
            <div>
                <label>Monthly Salary</label>
                <input type="number" id="montlySalary" />
            </div>
            <div>
                <label>Hire Date</label>
                <input id="dateHire" />
            </div>
            <div style="margin-top:5px">
                <input class="filterBtn" type="button" value="Search" />
                <input class="filterBtn" type="button" value="Clear" />
            </div>
        </fieldset>
    </div>

    <div class="col-lg-9" id="partial"></div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#dateHire').datepicker({ dateFormat: 'yy-mm-dd' });

            $.ajax({
                url: '/Employee/GetEmployees',
                //dataType: "html",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                data: {
                    'btn': 'Clear',
                    'name': ''
                },
                //async: false,
                //processData: false,
                //cache: false,
                //delay: 15,
                success: function (data) {
                    $('#partial').html(data);

                },
                error: function (xhr) {
                    alert(xhr);
                }
            });

            $('.filterBtn').click(function () {
                let btn = $(this).val();

                let employeeName = $('#name').val();
                let departName = $('#department').find(":selected").val();
                let title = $('#title').find(":selected").val();
                let monthlySalary = $('#montlySalary').val();
                let managerName = $('#manager').find(":selected").val();
                let dateHire = $('#dateHire').val();

                if (dateHire === 'undefined') {
                    dateHire = null;
                }
                else {
                    let date = new Date(dateHire);
                    dateHire = formatDate(date);
                }

                console.log(dateHire);

                $.ajax({
                    url: '/Employee/GetEmployees',
                    //dataType: "html",
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    data: {
                        'btn': btn,
                        'name': employeeName,
                        'departmentName': departName,
                        'title': title,
                        'monthlySalary': monthlySalary,
                        'managerName': managerName,
                        'dateHire': dateHire
                    },
                    //async: false,
                    //processData: false,
                    //cache: false,
                    //delay: 15,
                    success: function (data) {
                        $('#partial').html(data);

                        $('#name').val('');
                        $('#department').val('');
                        $('#title').val('');
                        $('#montlySalary').val('');
                        $('#manager').val('');
                        $('#dateHire').val('');
                    },
                    error: function (xhr) {
                        alert(xhr);
                    }
                });

                //$('#name').val('');



            })

            function formatDate(fulldate) {
                let year = fulldate.getFullYear();
                let month = parseInt(fulldate.getMonth()) + 1;
                let day = fulldate.getDate();

                //return `${month}/${day}/${year}`;
                return `${year}-${month}-${day}`;
            }

        })

    </script>
}