@model EMS.Web.Models.CommentViewModel


    <form asp-controller="Comment" asp-action="Edit" method="post">
        <p><small>@Model.CreateDate</small></p>
        <div>
            <h4 class="media-heading user_name">@Model.Author</h4>
            <input type="text" asp-for="Description" value="@Model.Description" />
            <input asp-for="Id" type="hidden" value="@Model.Id" />

        </div>
        @*<a href="@String.Format("/Comment/Edit/?id={0}", Model.Id)">Edit</a>
        <a href="@String.Format("/Comment/Delete/?id={0}", Model.Id)">Delete</a>*@
        <input type="submit" asp-for="Btn" value="Edit" class="btn btn-info pull-right"/>
        <input type="submit" asp-for="Btn" value="Delete" class="btn btn-info pull-right"/>
    </form>


